<!-- tunr/templates/tunr/artist_detail.html -->
<h2>{{ artist.name }} <a href="{% url 'artist_edit' pk=artist.pk %}">(edit)</a></h2>
<h4>{{ artist.nationality }}</h4>

<img src="{{ artist.photo_url }}" alt="" class="artist-photo" />

<a href="{% url 'artist_delete' pk=artist.pk %}">Delete</a>

<h3>Songs <a href="{% url 'sound_create' %}">(+)</a></h3>
<ul>
    {% for sound in artist.sounds.all %}
    <li>
        <a href="{% url 'sound_detail' pk=sound.pk %}">{{ sound.title }} - {{ sound.album }}</a>
    </li>
    {% endfor %}
</ul>